<nav class="navbar navbar-expand-lg navbar-light color">
  <div class="container-fluid">
    <a class="navbar-brand text-light  fs-36" href="#" style="align-items: center;" routerLink='/inicio'>
      <img id="imgLogo" src="../../assets/logo/LogoConquerPreto.jpg"  alt="LogoConquer"></a>
    

    <div class="login align-items-center">
      <a href="#" routerLink='/entrar'>
        <p>Login<i class="fa fa-sign-in" aria-hidden="true"></i>
        </p>
      </a>
    </div>

    <!-- Exemplo de único botão danger -->
    <div class="btn-group align-items-center">
      <button type="button" class="btn btn-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>
      <!-- Ajustar a largura do dropDown -->
      <div class="dropdown-menu ajusteDrop" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Home</a>
        <a class="dropdown-item" routerLink='/sobre-nos'>Sobre nós</a>
        <a class="dropdown-item" routerLink='/home'>Cursos</a>
        <a class="dropdown-item" href="#">Doe aqui</a>
        <a class="dropdown-item" href="#">Contato</a>
      </div>
    </div>

  </div>
</nav>


<!-- menu antigo -->

<!-- <div class="dropdown">

  <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
    aria-expanded="false">
    Menu
  </a>
aria-labelledby="dropdownMenuLink"
  <ul class="dropdown-menu menu" >
    <li><a class="dropdown-item" href="#">Home</a></li>
    <li><a class="dropdown-item" routerLink='/sobre-nos'>Sobre nós</a></li>
    <li><a class="dropdown-item" routerLink='/produto'>Cursos</a></li>
    <li><a class="dropdown-item" href="#">Doe aqui</a></li>
    <li><a class="dropdown-item" href="#">Contato</a></li>

  </ul>
</div> -->
<!-- menu antigo -->