<app-carrousel></app-carrousel>

<app-cards></app-cards>

<!-- Videos gratuitos -->
<div id="colorBG">
    <div>
        <h1 class="justify-content-center text-center fs-7" style="text-align: center; font-family: monospace;">
            Aproveite e acesse os cursos gratuítos</h1>
    </div>

    <div class="d-flex justify-content-around">

        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">

                    <div id="video1">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/xEKo29OWILE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video2">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/8mei6uVttho"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video3">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/B6gJARLZzhc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video4">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/WcIIUmDch94"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<app-como-funciona></app-como-funciona>

<app-ods></app-ods>