<app-carrousel></app-carrousel>

<div class="row justify-content-center colorBG">
    <div class="col-md-6 p-5 mt-5 mb-5 ">
        <i class="fa fa-quote-right mr-3" aria-hidden="true"></i>
        <br />
        <p class='fonteText'>
            O Brasil é um pais que em grande parte é composto de jovens e adultos entre 15 e 34 anos, levando em consideração os
            altos índices de desemprego entre eles, somados a baixa escolaridade e um baixo poder aquisitivo, temos
            um cenário que demanda muito trabalho para inclusão dessas pessoas no mercado de trabalho. Com isso, a <span
                style="color: dark; font-weight: bold;">Conquer</span> se mostra como uma solução para diminuir as taxas
            de desemprego, aumentar a inclusão e o desenvolvimento social e digital. A Conquer é um
            e-commerce focado em ajudar as pessoas.
        </p>
        <br />
        <i class="fa fa-quote-left ml-1" style="float: right;" aria-hidden="true"></i>
    </div>
</div>

<app-como-funciona></app-como-funciona>

 <app-cards></app-cards>

 <!-- Videos gratuitos -->
<div id="colorBG">
    <div>
        <h1 class="justify-content-center text-center fs-7" style="text-align: center; font-family: monospace;">
            Aproveite e acesse cursos gratuítos</h1>
    </div>

    <div class="d-flex justify-content-around">

        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">

                    <div id="video1">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/xEKo29OWILE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video2">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/8mei6uVttho"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video3">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/B6gJARLZzhc"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="container-fluid">
                <div class="col-md-6">
                    <div id="video4">

                        <iframe width="450" height="300" src="https://www.youtube.com/embed/WcIIUmDch94"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<!-- /Videos gratuitos -->


<app-ods></app-ods>

