<app-carrousel></app-carrousel>

<div class="row justify-content-center colorBG">
    <div class="col-md-6 p-5 mt-5 mb-5 ">
        <i class="fa fa-quote-right mr-3" aria-hidden="true"></i>
        <br />
        <p class='fonteText'>
            O Brasil é um pais que em grande parte é composto de jovens e adultos entre 15 e 34 anos, levando em consideração os
            altos índices de desemprego entre eles, somados a baixa escolaridade e um baixo poder aquisitivo, temos
            um cenário que demanda muito trabalho para inclusão dessas pessoas no mercado de trabalho. Com isso, a <span
                style="color: dark; font-weight: bold;">Conquer</span> se mostra como uma solução para diminuir as taxas
            de desemprego, aumentar a inclusão e o desenvolvimento social e digital. A Conquer é um
            e-commerce focado em ajudar as pessoas.
        </p>
        <br />
        <i class="fa fa-quote-left ml-1" style="float: right;" aria-hidden="true"></i>
    </div>
</div>

<app-como-funciona></app-como-funciona>

 <app-cards></app-cards>



<app-ods></app-ods>

