<div>
  <!-- banner do Cabeçalho -->
  <div class="container-fluid p-0 text-center m-0">
    <img src="../../assets/conquer foto m.png" alt="imagem montanha" class="mw-100" />
  </div>
  <div class="container">

    <!-- Sober nós-->

    <div class="container p-0 m-0">
      <strong>
        <h4 class="py-3">SOBRE NÓS</h4>
      </strong>
    </div>
    <hr>
    <div class="container m-0 bg-colorstyle py-3 textSize">
      <p>O nosso projeto "Conquer" tem como objetivo fazer com que pessoas de baixa 
        renda e que se encontram em situação de vulnerabilidade tenham acesso a uma 
        educação profissionalizante de qualidade. 
        A idéia do e-commerce surgiu como uma forma de arrecadar fundos atraves da 
        venda de nossos cursos, onde o recurso adquirido será usado para patrocinar 
        jovens de baixa renda na sua capacitação profissional.
        Ex: Uma pessoa compra o curso para adquirir conhecimento e ao mesmo tempo 
        ajuda outra pessoa a estudar que nao tem condições para comprar o curso.</p>

      <p>Este e-commerce começou com a idealização da ods da onu 16 Paz, justiça e
         instituições eficazes - Promover sociedades pacíficas e inclusivas para o 
         desenvolvimento sustentável, proporcionar o acesso à justiça para todos e 
         construir instituições eficazes, responsáveis e inclusivas em todos os níveis.    
        </p>

      <p></p>

      <p></p>
    </div>


    <div class="row mt-5 d-flex justify-content-center">

      <strong>
        <h4 class="py-3">PARCEIRAS</h4>
      </strong>
    </div>

    <div class="d-flex align-items-center flex-column">

      <a href="https://brazil.generation.org/" target="black"><img class="m-5 img-generation"
          src="../../assets/generation foto.jpg" alt="logo instituições"  /></a>

     <!--- <a href="https://diversforsharks.com.br/pt/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/sharks_instituto.png" alt="logo instituições" width="300px" height="70px" /></a>

      <a href="https://www.sospantanal.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/sos_pantanal.png" alt="logo instituições" width="130px" height="160px" /></a>

      <a href="https://www.icasconservation.org.br/" target="black"> <img class="m-5"
          src="../../assets/img/sobre/icas.png" alt="logo instituições" width="200px" height="100px" /></a>--->

    </div>




    <hr class="mb-5 mt-5">

   
   
</div>


<app-squad></app-squad>