<div class="container-fluid">

    <div class="row bg-white d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-dark">
                    <h1 class="fs-40 text-center">Sobre nós</h1>
                    
                    <h2 class="fs-16 text-center">
                        Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem
                        cochilar e fazendo pose. Viva Forevis aptent taciti sociosqu ad litora torquent. Diuretics
                        paradis num copo é motivis de denguis. Manduma pindureta quium dia nois paga.

                        In elementis mé pra quem é amistosis quis leo. Si u mundo tá muito paradis? Toma um mé que o
                        mundo vai girarzis! Sapien in monti palavris qui num significa nadis i pareci latim. Suco de
                        cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.

                        Leite de capivaris, leite de mula manquis sem cabeça. A ordem dos tratores não altera o pão
                        duris. Detraxit consequat et quo num tendi nada. Posuere libero varius. Nullam a nisl ut ante
                        blandit hendrerit. Aenean sit amet nisi.

                    </h2>

         <!-- fabio antunes -->
        <div class="col-lg-10 col-sm-6">
            <div class="card hovercard">
              <div class="cardheader"></div>
              <div class="bg-colorstyle cardTamanho">
                <div class="avatar">
                  <img data-toggle="modal" data-target="#mariPerfilModal" alt=""
                    src="https://avatars.githubusercontent.com/u/88812963?v=4" />
                </div>
                <div class="info">
                  <div class="title pt-3">fabio</div>
                  <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                  <div class="desc">Team Louco por java</div>
                  <div class="desc">Osasco - SP</div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12 d-flex justify-content-center">
                    <a href="https://github.com/FabioAntunesO" target="_blank" class="p-3">
                      <img class="tm-social socialIcon" src="C:\Users\lucas\Desktop\FrontConquer\src\assets\img\github.png"
                        alt="Logo do GitHub" />
                    </a>
  
                    <a href="https://www.linkedin.com/in/f%C3%A1bio-antunes-de-oliveira-a26a9469/" target="_blank" class="p-3">
                        <i class="fab fa-github"></i> src=""
                        alt="Logo do Linkedin" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Bootstrap modal -->
            <div class="modal fade" id="mariPerfilModal" tabindex="-1" role="dialog" aria-labelledby="mariPerfilLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal heading -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="mariPerfilLabel">
                      Mariana de Cássia Antunes Oliveira
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> × </span>
                    </button>
                  </div>
  
                  <!-- Modal body with image -->
                  <div class="modal-body d-flex justify-content-center">
                    <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg"
                      alt="Mariana Antunes Oliveira" />
                  </div>
  
                  <!-- Modal footer text -->
                  <div class="modal-footer d-block">
                    <div class="row d-flex text-center">
                      <div class="col-sm">
                        <h4>Perfil Profissional</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <p>
                          Graduada em Engenharia Civil. Atuo há quase dez anos no
                          ramo da construção, desempenhando tarefas relacionadas a
                          projetos arquitetônicos e de instalações, além de fôrma
                          pronta para concreto armado. Possuo vivência nas rotinas
                          de acompanhamento técnico de obras e gerenciamento de
                          equipes de mão de obra. Segunda língua (inglês) avançado
                          e registro ativo no CREA (Conselho Regional de
                          Engenharia e Agronomia).
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <!-- fabio antunes -->
        <div class="col-lg-10 col-sm-6">
            <div class="card hovercard">
              <div class="cardheader"></div>
              <div class="bg-colorstyle cardTamanho">
                <div class="avatar">
                  <img data-toggle="modal" data-target="#mariPerfilModal" alt=""
                    src="https://avatars.githubusercontent.com/u/88812963?v=4" />
                </div>
                <div class="info">
                  <div class="title pt-3">fabio</div>
                  <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                  <div class="desc">Team Louco por java</div>
                  <div class="desc">Osasco - SP</div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12 d-flex justify-content-center">
                    <a href="https://github.com/FabioAntunesO" target="_blank" class="p-3">
                      <img class="tm-social socialIcon" src="C:\Users\lucas\Desktop\FrontConquer\src\assets\img\github.png"
                        alt="Logo do GitHub" />
                    </a>
  
                    <a href="https://www.linkedin.com/in/f%C3%A1bio-antunes-de-oliveira-a26a9469/" target="_blank" class="p-3">
                        <i class="fab fa-github"></i> src=""
                        alt="Logo do Linkedin" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Bootstrap modal -->
            <div class="modal fade" id="mariPerfilModal" tabindex="-1" role="dialog" aria-labelledby="mariPerfilLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal heading -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="mariPerfilLabel">
                      Mariana de Cássia Antunes Oliveira
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> × </span>
                    </button>
                  </div>
  
                  <!-- Modal body with image -->
                  <div class="modal-body d-flex justify-content-center">
                    <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg"
                      alt="Mariana Antunes Oliveira" />
                  </div>
  
                  <!-- Modal footer text -->
                  <div class="modal-footer d-block">
                    <div class="row d-flex text-center">
                      <div class="col-sm">
                        <h4>Perfil Profissional</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <p>
                          Graduada em Engenharia Civil. Atuo há quase dez anos no
                          ramo da construção, desempenhando tarefas relacionadas a
                          projetos arquitetônicos e de instalações, além de fôrma
                          pronta para concreto armado. Possuo vivência nas rotinas
                          de acompanhamento técnico de obras e gerenciamento de
                          equipes de mão de obra. Segunda língua (inglês) avançado
                          e registro ativo no CREA (Conselho Regional de
                          Engenharia e Agronomia).
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- fabio antunes -->
        <div class="col-lg-10 col-sm-6">
            <div class="card hovercard">
              <div class="cardheader"></div>
              <div class="bg-colorstyle cardTamanho">
                <div class="avatar">
                  <img data-toggle="modal" data-target="#mariPerfilModal" alt=""
                    src="https://avatars.githubusercontent.com/u/88812963?v=4" />
                </div>
                <div class="info">
                  <div class="title pt-3">fabio</div>
                  <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                  <div class="desc">Team Louco por java</div>
                  <div class="desc">Osasco - SP</div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12 d-flex justify-content-center">
                    <a href="https://github.com/FabioAntunesO" target="_blank" class="p-3">
                      <img class="tm-social socialIcon" src="C:\Users\lucas\Desktop\FrontConquer\src\assets\img\github.png"
                        alt="Logo do GitHub" />
                    </a>
  
                    <a href="https://www.linkedin.com/in/f%C3%A1bio-antunes-de-oliveira-a26a9469/" target="_blank" class="p-3">
                        <i class="fab fa-github"></i> src=""
                        alt="Logo do Linkedin" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Bootstrap modal -->
            <div class="modal fade" id="mariPerfilModal" tabindex="-1" role="dialog" aria-labelledby="mariPerfilLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal heading -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="mariPerfilLabel">
                      Mariana de Cássia Antunes Oliveira
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> × </span>
                    </button>
                  </div>
  
                  <!-- Modal body with image -->
                  <div class="modal-body d-flex justify-content-center">
                    <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg"
                      alt="Mariana Antunes Oliveira" />
                  </div>
  
                  <!-- Modal footer text -->
                  <div class="modal-footer d-block">
                    <div class="row d-flex text-center">
                      <div class="col-sm">
                        <h4>Perfil Profissional</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <p>
                          Graduada em Engenharia Civil. Atuo há quase dez anos no
                          ramo da construção, desempenhando tarefas relacionadas a
                          projetos arquitetônicos e de instalações, além de fôrma
                          pronta para concreto armado. Possuo vivência nas rotinas
                          de acompanhamento técnico de obras e gerenciamento de
                          equipes de mão de obra. Segunda língua (inglês) avançado
                          e registro ativo no CREA (Conselho Regional de
                          Engenharia e Agronomia).
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


           <!-- fabio antunes -->
        <div class="col-lg-10 col-sm-6">
            <div class="card hovercard">
              <div class="cardheader"></div>
              <div class="bg-colorstyle cardTamanho">
                <div class="avatar">
                  <img data-toggle="modal" data-target="#mariPerfilModal" alt=""
                    src="https://avatars.githubusercontent.com/u/88812963?v=4" />
                </div>
                <div class="info">
                  <div class="title pt-3">fabio</div>
                  <div class="desc pt-3">Desenvolvedor FullStack Java</div>
                  <div class="desc">Team Louco por java</div>
                  <div class="desc">Osasco - SP</div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12 d-flex justify-content-center">
                    <a href="https://github.com/FabioAntunesO" target="_blank" class="p-3">
                      <img class="tm-social socialIcon" src="C:\Users\lucas\Desktop\FrontConquer\src\assets\img\github.png"
                        alt="Logo do GitHub" />
                    </a>
  
                    <a href="https://www.linkedin.com/in/f%C3%A1bio-antunes-de-oliveira-a26a9469/" target="_blank" class="p-3">
                        <i class="fab fa-github"></i> src=""
                        alt="Logo do Linkedin" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Bootstrap modal -->
            <div class="modal fade" id="mariPerfilModal" tabindex="-1" role="dialog" aria-labelledby="mariPerfilLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <!-- Modal heading -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="mariPerfilLabel">
                      Mariana de Cássia Antunes Oliveira
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"> × </span>
                    </button>
                  </div>
  
                  <!-- Modal body with image -->
                  <div class="modal-body d-flex justify-content-center">
                    <img class="w-50" src="../../assets/img/sobre/avatarColaboradores/marianaOliveira.jpg"
                      alt="Mariana Antunes Oliveira" />
                  </div>
  
                  <!-- Modal footer text -->
                  <div class="modal-footer d-block">
                    <div class="row d-flex text-center">
                      <div class="col-sm">
                        <h4>Perfil Profissional</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <p>
                          Graduada em Engenharia Civil. Atuo há quase dez anos no
                          ramo da construção, desempenhando tarefas relacionadas a
                          projetos arquitetônicos e de instalações, além de fôrma
                          pronta para concreto armado. Possuo vivência nas rotinas
                          de acompanhamento técnico de obras e gerenciamento de
                          equipes de mão de obra. Segunda língua (inglês) avançado
                          e registro ativo no CREA (Conselho Regional de
                          Engenharia e Agronomia).
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-right">
            <img src="https://i.imgur.com/pJy4iSQ.png" alt="" width="650px" height="650px">
        </div>

    </div>

</div>
